aside {
  border-left: 2px solid rgb(63, 0, 180);
}

.sidebar-count {
  margin-left: 50px;
}
.sidebar {
  padding: 15px;
  background: linear-gradient(45deg, #7d6969, transparent);
  border-radius: 20px;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  color: #580000;
}

.bg-color {
  margin-top: 10px;
  background-color: #2a6dd2de;
  color: whitesmoke;
}

.bg-color:hover {
  color: aliceblue;
}

@media (min-width: 901px) {
  .sidebar-count {
    position: fixed;
    top: 100px;
    width: 259px;
  }
}
@media (min-width: 768px) {
  .sidebar-count {
    position: fixed;
    top: 100px;
    width: 200px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .sidebar-count {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    height: calc(20vh - 0px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0;
    margin-left: 0;
    border-radius: 0px;
  }
}
@media (max-width: 767px) {
  h1 {
    color: whitesmoke;
  }
}
