.image img {
  height: 160px;
  width: 100%;
}

button {
  width: 100%;
}

.card {
  background-color: #4332a5cf;
  position: relative;
  box-shadow: 20px 20px 40px gray;
  border-radius: 10px;
}

.card:hover {
  z-index: 1;
  transform: scale(1.08);
  transition: 1.5s;
  background-color: green;
}

h6 {
  color: coral;
  position: relative;
}

h6:hover {
  transform: translateX(40px);
  transition: 1.5s;
}

p {
  color: aquamarine;
  position: relative;
}

p:hover {
  transform: translateX(40px);
  transition: 1.5s;
}
